<div class="login-page-container">
  <div class="login-page-login-page">
    <span class="login-page-text"><span>Not Our Member?</span></span>
    <span class="login-page-text02"><span>SIGN UP</span></span>
    <span class="login-page-text04">
      <span>Write whatever you lived and what you thought.</span>
    </span>
    <div class="login-page-try-journey">
      <img
        src="/assets/playground_assets/rectangle4i105-hib-200h.png"
        alt="Rectangle4I105"
        class="login-page-rectangle4"
      />
      <span class="login-page-text06">
        <span>Try Journey, It’s free.</span>
      </span>
    </div>
    <div class="login-page-logo">
      <span class="login-page-text08"><span>Journey</span></span>
      <div class="login-page-group3">
        <img
          src="/assets/playground_assets/vectori105-a9pj.svg"
          alt="VectorI105"
          class="login-page-vector"
        />
        <img
          src="/assets/playground_assets/vectori105-qrr8.svg"
          alt="VectorI105"
          class="login-page-vector1"
        />
        <img
          src="/assets/playground_assets/vectori105-7ax6.svg"
          alt="VectorI105"
          class="login-page-vector2"
        />
        <img
          src="/assets/playground_assets/vectori105-ia6r.svg"
          alt="VectorI105"
          class="login-page-vector3"
        />
      </div>
    </div>
    <div class="login-page-forms">
      <img
        src="/assets/playground_assets/rectangle45i105-qrw5-900w.png"
        alt="Rectangle45I105"
        class="login-page-rectangle45"
      />
      <img
        src="/assets/playground_assets/line1i105-mv4.svg"
        alt="Line1I105"
        class="login-page-line1"
      />
      <span class="login-page-text10"><span>Email</span></span>
    </div>
    <div class="login-page-forms1">
      <img
        src="/assets/playground_assets/rectangle45i105-urmj-900w.png"
        alt="Rectangle45I105"
        class="login-page-rectangle451"
      />
      <img
        src="/assets/playground_assets/line1i105-tdxl.svg"
        alt="Line1I105"
        class="login-page-line11"
      />
      <span class="login-page-text12"><span>Password</span></span>
      <img
        src="/assets/playground_assets/edithidei105-90s.svg"
        alt="edithideI105"
        class="login-page-edithide"
      />
    </div>
    <button class="login-page-sign-buttons">
      <img
        src="/assets/playground_assets/rectangle47i105-ngyg-900w.png"
        alt="Rectangle47I105"
        class="login-page-rectangle47"
      />
      <span class="login-page-text14"><span>Log In</span></span>
    </button>
    <div class="login-page-forgot-password">
      <span class="login-page-text16"><span>Forgot Password</span></span>
    </div>
  </div>
</div>
